// $lapse: 80s;
@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}
  
.ticker-wrap {
    width: 100%;
    bottom: 0;
    background-color: rgba(#14181c, 0.9);
    padding-left: 100%;
    height: 100%;

		&:hover {
			.ticker {
				-webkit-animation-play-state: paused;
				-moz-animation-play-state: paused;
				-o-animation-play-state: paused;
				animation-play-state: paused;
			}
		}

    .ticker {
        height: 100%;
        display: inline-flex;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;
     
        -moz-animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
                animation-timing-function: linear;
        -moz-animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite; 
                animation-iteration-count: infinite;
        -moz-animation-name: ticker;
        -webkit-animation-name: ticker;
                animation-name: ticker;
        
        &__headline {
            display: flex;
            flex-direction: column;
            align-items:center;
            padding: 0.6rem;
            color: white;
            height: 100%;
        }
    }

    .fixture-match {
        display: flex;

        .home-team,
        .away-team {
            position: relative;
            display: flex;
            gap: 0.7rem;
            justify-content: center;
            margin: 0 10px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }

            span {
                pointer-events: none;
            }
        }
    }
}

#modal {
  position: absolute;
  top: 25vh;
  left: 25vw;
  background-color: white;
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 20px;
  overflow: hidden;
  -webkit-box-shadow: -2px 6px 110px 0px rgba(173,173,173,1);
  -moz-box-shadow: -2px 6px 110px 0px rgba(173,173,173,1);
  box-shadow: -2px 6px 110px 0px rgba(173,173,173,1);

  #players {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: calc(50vh - 100px);
    overflow-x: auto;
    width: 100%;

    div {
      padding: 0 20px;
      min-width: 220px;
    }
  }

  #close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
  }
}